<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="dashboard.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li> 
            <li>
                <a href="dashboard.html#project"><i class="fa fa-bar-chart-o fa-fw"></i> Quick Timeline</a>
            </li> 
            <li>
                <a href="dashboard.html#fact"><i class="fa fa-bar-chart-o fa-fw"></i> Quick Facts</a>
            </li> 
            <li>
                <a href="education.html"><i class="fa fa-graduation-cap fa-fw"></i> Education</a>
            </li> 
            <li>
                <a href="projects.html"><i class="fa fa-wrench fa-fw"></i> Projects</a>
            </li>
            <li>
                <a href="achievement.html"><i class="fa fa-trophy fa-fw"></i> Achievement</a>
            </li>
            <li>
                <a href="contact.html"><i class="fa fa-group fa-fw"></i> Contact</a>
            </li>
        </ul>
    </div>
</div>