<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}/pages/dashboard">Dashboard</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/dashboard#competency">Competency</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/dashboard#project">Timeline</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/dashboard#fact">Fact</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/education">Education</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/projects">Projects</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/achievement">Achievement</a>
        <a class="navbar-brand" href="{{ site.url }}/pages/contact">Contact</a>
        <a class="navbar-brand" href="{{ site.url }}/index.html">Homepage</a>
    </div>
</nav>
