<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ site.url }}/pages/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li> 
            <li>
                <a href="{{ site.url }}/pages/dashboard#project"><i class="fa fa-bar-chart-o fa-fw"></i> Quick Timeline</a>
            </li> 
            <li>
                <a href="{{ site.url }}/pages/dashboard#fact"><i class="fa fa-bar-chart-o fa-fw"></i> Quick Facts</a>
            </li> 
            <li>
                <a href="{{ site.url }}/pages/education"><i class="fa fa-graduation-cap fa-fw"></i> Education</a>
            </li> 
            <li>
                <a href="{{ site.url }}/pages/projects"><i class="fa fa-wrench fa-fw"></i> Projects</a>
            </li>
            <li>
                <a href="{{ site.url }}/pages/achievement"><i class="fa fa-trophy fa-fw"></i> Achievement</a>
            </li>
            <li>
                <a href="{{ site.url }}/pages/contact"><i class="fa fa-group fa-fw"></i> Contact</a>
            </li>
        </ul>
    </div>
</div>