<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="dashboard.html">Dashboard</a>
        <a class="navbar-brand" href="dashboard.html#competency">Competency</a>
        <a class="navbar-brand" href="dashboard.html#project">Timeline</a>
        <a class="navbar-brand" href="dashboard.html#fact">Fact</a>
        <a class="navbar-brand" href="education.html">Education</a>
        <a class="navbar-brand" href="projects.html">Projects</a>
        <a class="navbar-brand" href="achievement.html">Achievement</a>
        <a class="navbar-brand" href="contact.html">Contact</a>
        <a class="navbar-brand" href="../index.html">Home</a>
    </div>
</nav>