---
isbootstrap: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html%}
    <!-- Custom Bokeh CSS -->
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    
    <!-- Custom CSS -->
    <link href="{{ basesite.url }}/public/css/sb-admin-2.css" rel="stylesheet">
</head>


<body>
<!-- Custom Bokeh Chart -->


    <div id="wrapper">

        <!-- Navigation -->
        {% include navbar_top.html %}
        
        {% include navbar_side.html %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">{{ page.title }}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                {{content}}
            </div>        
    </div>

 
</body>
{% include scripts.html scriptclass='dashboard' %}

</html>
