<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
        <!-- {% include header.html %} -->
        <div class="col-lg-1">
        </div -->
        <div class="col-lg-10">
            <!-- div class="row">
            {% include header.html %}
            </div -->
            <div class="row">
            {% include navbar.html %}
            </div>
            {{ content }}
        </div>
        <div class="col-lg-1">
        </div>
    {% include footer.html %}


  </body>

    {% include scripts.html %}

</html>
