<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <!--{% include header.html %}-->
    <div id="wrapper">
        <div class="col-lg-1">
        </div -->
        <div class="col-lg-10">
            <div class="row">
            {% include navbar.html %}
            </div>
            <div class="row">
            {% include header.html %}
            </div>
            <section class="main-content">
                <div class="wrapper">
                {{ content }}
                </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
    {% include footer.html %}


  </body>

    {% include scripts.html %}

</html>
